.testyh1 {
    text-align: left;
    display: inline-block;
    grid-area: headertesty;
    margin: 20px;
    font-weight: 800;  
}

.headertesty {
    display: grid;
    grid-template-areas: 
    "headertesty hometesty";
    background-color: #6F6866;
    margin: 10px;
    border-radius: 8px;
}

.hometesty {
    grid-area: hometesty;
    margin: auto;
    text-align: right;
}

.maincontainertesty {
    display: grid;
    margin: 10px;
    background-color: #6F6866;
    padding: 10px;
    border-radius: 8px;
    grid-template-areas:
    "provsechny provsechny" 
    "alltesty alltesty"
    "vyplnovac2 vyplnovac2"
    "jazyky jazyky"
    "anglictina nemcina";
}

.alltesty {
    background-color: #CCDAD1;
    grid-area: alltesty;
    border-radius: 8px;
    display: grid;
    grid-template-areas: 
    "predmet zceho kdy ucit poznamky"
    "vyplnovac vyplnovac vyplnovac vyplnovac vyplnovac"
    "test1 test1 test1 test1 test1"
    "test2 test2 test2 test2 test2";
}

.provsechny {
    grid-area: provsechny;
    font-weight: bold;
    text-align: center;
}

.predmet {
    grid-area: predmet;
    font-weight: bold;
    text-align: center;
}

.zceho {
    grid-area: zceho;
    font-weight: bold;
    text-align: center;
}

.kdy {
    grid-area: kdy;
    font-weight: bold;
    text-align: center;
}

.ucit {
    grid-area: ucit;
    font-weight: bold;
    text-align: center;
}

.poznamky {
    grid-area: poznamky;
    font-weight: bold;
    text-align: center;
}

.vyplnovac {
    width: 100%;
    height: 5px;
    background-color: #6F6866;
    grid-area: vyplnovac;
}

.test3 {
    grid-area: test3;
    background-color: #9CAEA9;
    opacity: 80%;
    display: grid;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #38302E;
    grid-template-areas:
    "predmet3 zceho3 kdy3 ucit3 poznamky3";
}

.predmet3 {
    grid-area: predmet3;
    text-align: center;
    position: relative;
}

.zceho3 {
    grid-area: zceho3;
    text-align: center;
    position: relative;
    right: 80px;
}

.kdy3 {
    grid-area: kdy3;
    text-align: center;
    position: relative;
    right: 170px;
}

.ucit3 {
    grid-area: ucit3;
    text-align: center;
    position: relative;
    right: 140px;
}

.poznamky3 {
    grid-area: poznamky3;
    text-align: center;
    position: relative;
    left: 20px;
}

.test2 {
    cursor: pointer;
    grid-area: test2;
    background-color: #9CAEA9;
    opacity: 80%;
    display: grid;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #38302E;
    grid-template-areas:
    "predmet2 zceho2 kdy2 ucit2 poznamky2";
}

.predmet2 {
    grid-area: predmet2;
    text-align: center;
    position: relative;
}

.zceho2 {
    grid-area: zceho2;
    text-align: center;
    position: relative;
    right: 60px;
}

.kdy2 {
    grid-area: kdy2;
    text-align: center;
    position: relative;
    right: 150px;
}

.ucit2 {
    grid-area: ucit2;
    text-align: center;
    position: relative;
    margin: auto;
    color: black;
    right: 130px;
}

.poznamky2 {
    grid-area: poznamky2;
    text-align: center;
    position: relative;
    left: 20px;
}

.test1 {
    cursor: pointer;
    grid-area: test1;
    background-color: red;
    opacity: 80%;
    display: grid;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #38302E;
    grid-template-areas:
    "predmet1 zceho1 kdy1 ucit1 poznamky1";
}

.predmet1 {
    grid-area: predmet1;
    text-align: center;
    position: relative;
}

.zceho1 {
    grid-area: zceho1;
    text-align: center;
    position: relative;
    right: 40px;
}

.kdy1 {
    grid-area: kdy1;
    text-align: center;
    position: relative;
    right: 60px;
}

.ucit1 {
    grid-area: ucit1;
    text-align: center;
    position: relative;
    right: 50px;
}

.poznamky1 {
    grid-area: poznamky1;
    text-align: center;
    position: relative;
    left: 20px;
}

.vyplnovac2 {
    margin-top: 10px;
    background-color: #9CAEA9;
    width: 100%;
    height: 5px;
    grid-area: vyplnovac2;
}

.jazyky {
    text-align: center;
    grid-area: jazyky;
}

.anglictina {
    background-color: #CCDAD1;
    border-radius: 8px;
    grid-area: anglictina;
    margin: 8px;
    padding: 8px;
    display: grid;
    grid-template-areas:
    "anglictinaheader anglictinaheader anglictinaheader anglictinaheader"
    "zcehoa kdya ucita poznamkya"
    "a1 a1 a1 a1"
    "testa11 testa11 testa11 testa11"
    "a2 a2 a2 a2"
    "testa21 testa21 testa21 testa21";
}

.anglictinaheader {
    font-weight: bold;
    grid-area: anglictinaheader;
    text-align: center;
}

.zcehoa {
    grid-area: zcehoa;
    font-weight: bold;
    text-align: center;
}

.kdya {
    grid-area: kdya;
    font-weight: bold;
    text-align: center;
}

.ucita {
    grid-area: ucita;
    font-weight: bold;
    text-align: center;
}

.poznamkya {
    grid-area: poznamkya;
    font-weight: bold;
    text-align: center;
}

.a1 {
    grid-area: a1;
}

.testa11 {
    grid-area: testa11;
    background-color: #9CAEA9;
    opacity: 80%;
    display: grid;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #38302E;
    grid-template-areas:
    "zcehoa11 kdya11 ucita11 poznamkya11";
}

.zcehoa11 {
    grid-area: zcehoa11;
    text-align: center;
    position: relative;
}

.kdya11 {
    grid-area: kdya11;
    text-align: center;
    position: relative;
}

.ucita11 {
    grid-area: ucita11;
    text-align: center;
    position: relative;
}

.poznamkya11 {
    grid-area: poznamkya11;
    text-align: center;
    position: relative;
}

.a2 {
    grid-area: a2;
}

.testa21 {
    grid-area: testa21;
    background-color: #9CAEA9;
    opacity: 80%;
    display: grid;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #38302E;
    grid-template-areas:
    "zcehoa21 kdya21 ucita21 poznamkya21";
}

.zcehoa21 {
    grid-area: zcehoa21;
    text-align: center;
    position: relative;
}

.kdya21 {
    grid-area: kdya21;
    text-align: center;
    position: relative;
}

.ucita21 {
    grid-area: ucita21;
    text-align: center;
    position: relative;
}

.poznamkya21 {
    grid-area: poznamkya21;
    text-align: center;
    position: relative;
}

.nemcina {
    background-color: #CCDAD1;
    border-radius: 8px;
    grid-area: nemcina;
    margin: 8px;
    padding: 8px;
    display: grid;
    grid-template-areas:
    "nemcinaheader nemcinaheader nemcinaheader nemcinaheader"
    "zcehon kdyn ucitn poznamkyn"
    "n1 n1 n1 n1"
    "testn11 testn11 testn11 testn11"
    "n2 n2 n2 n2"
    "testn21 testn21 testn21 testn21"; 
}

.nemcinaheader {
    font-weight: bold;
    grid-area: nemcinaheader;
    text-align: center;
}

.zcehon {
    grid-area: zcehon;
    font-weight: bold;
    text-align: center;
}

.kdyn {
    grid-area: kdyn;
    font-weight: bold;
    text-align: center;
}

.ucitn {
    grid-area: ucitn;
    font-weight: bold;
    text-align: center;
}

.poznamkyn {
    grid-area: poznamkyn;
    font-weight: bold;
    text-align: center;
}

.n1 {
    grid-area: n1;
}

.testn11 {
    grid-area: testn11;
    background-color: #9CAEA9;
    opacity: 80%;
    display: grid;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #38302E;
    grid-template-areas:
    "zcehon11 kdyn11 ucitn11 poznamkyn11";
}

.zcehon11 {
    grid-area: zcehon11;
    text-align: center;
    position: relative;
}

.kdyn11 {
    grid-area: kdyn11;
    text-align: center;
    position: relative;
}

.ucitn11 {
    grid-area: ucitn11;
    text-align: center;
    position: relative;
}

.poznamkyn11 {
    grid-area: poznamkyn11;
    text-align: center;
    position: relative;
}

.n2 {
    grid-area: n2;
}

.testn21 {
    grid-area: testn21;
    background-color: #9CAEA9;
    opacity: 80%;
    display: grid;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #38302E;
    grid-template-areas:
    "zcehon21 kdyn21 ucitn21 poznamkyn21";
}

.zcehon21 {
    grid-area: zcehon21;
    text-align: center;
    position: relative;
}

.kdyn21 {
    grid-area: kdyn21;
    text-align: center;
    position: relative;
}

.ucitn21 {
    grid-area: ucitn21;
    text-align: center;
    position: relative;
}

.poznamkyn21 {
    grid-area: poznamkyn21;
    text-align: center;
    position: relative;
}