body {
    padding: 0;
    background-color: #38302E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeh1 {
    text-align: center;
    display: inline-block;
    grid-area: header;
    margin: 20px;
    font-weight: 800;
}

.header {
    display: grid;

    grid-template-areas: 
    "header ukoly testy vybaveni rozvrh";
    background-color: #6F6866;
    margin: 10px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    display: inline-block;
    color: #9CAEA9;
    text-decoration: dotted;
}

.vybaveni {
    grid-area: vybaveni;
    text-align: right;
    margin: auto;
}

.rozvrh {
    grid-area: rozvrh;
    margin: auto;
}

.ukoly {
    grid-area: ukoly;
    margin: auto;
}

.testy {
    grid-area: testy;
    margin: auto;
}

.testyh1 {
    text-align: left;
    display: inline-block;
    grid-area: headertesty;
    margin: 20px;
    font-weight: 800;  
}

.headertesty {
    display: grid;
    grid-template-areas: 
    "headertesty hometesty";
    background-color: #6F6866;
    margin: 10px;
    border-radius: 8px;
}

.hometesty {
    grid-area: hometesty;
    margin: auto;
    text-align: right;
}