body {
    padding: 0;
    background-color: #38302E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeh1 {
    text-align: center;
    display: inline-block;
    grid-area: header;
    margin: 20px;
    font-weight: 800;
}

.header {
    display: grid;

    grid-template-areas: 
    "header ukoly testy vybaveni rozvrh";
    background-color: #6F6866;
    margin: 10px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    display: inline-block;
    color: #9CAEA9;
    text-decoration: dotted;
}

.vybaveni {
    grid-area: vybaveni;
    text-align: right;
    margin: auto;
}

.rozvrh {
    grid-area: rozvrh;
    margin: auto;
}

.ukoly {
    grid-area: ukoly;
    margin: auto;
}

.testy {
    grid-area: testy;
    margin: auto;
}

.testyh1 {
    text-align: left;
    display: inline-block;
    grid-area: headertesty;
    margin: 20px;
    font-weight: 800;  
}

.headertesty {
    display: grid;
    grid-template-areas: 
    "headertesty hometesty";
    background-color: #6F6866;
    margin: 10px;
    border-radius: 8px;
}

.hometesty {
    grid-area: hometesty;
    margin: auto;
    text-align: right;
}

.maincontainertesty {
    display: grid;
    margin: 10px;
    background-color: #6F6866;
    padding: 10px;
    border-radius: 8px;
    grid-template-areas:
    "provsechny provsechny" 
    "alltesty alltesty"
    "vyplnovac2 vyplnovac2"
    "jazyky jazyky"
    "anglictina nemcina";
}

.alltesty {
    background-color: #CCDAD1;
    grid-area: alltesty;
    border-radius: 8px;
    display: grid;
    grid-template-areas: 
    "predmet zceho kdy ucit poznamky"
    "vyplnovac vyplnovac vyplnovac vyplnovac vyplnovac"
    "test1 test1 test1 test1 test1";
}

.provsechny {
    grid-area: provsechny;
    font-weight: bold;
    text-align: center;
}

.predmet {
    grid-area: predmet;
    font-weight: bold;
    text-align: center;
}

.zceho {
    grid-area: zceho;
    font-weight: bold;
    text-align: center;
}

.kdy {
    grid-area: kdy;
    font-weight: bold;
    text-align: center;
}

.ucit {
    grid-area: ucit;
    font-weight: bold;
    text-align: center;
}

.poznamky {
    grid-area: poznamky;
    font-weight: bold;
    text-align: center;
}

.vyplnovac {
    width: 100%;
    height: 5px;
    background-color: #6F6866;
    grid-area: vyplnovac;
}

.test1 {
    grid-area: test1;
    background-color: #9CAEA9;
    opacity: 80%;
    display: grid;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #38302E;
    grid-template-areas:
    "predmet1 zceho1 kdy1 ucit1 poznamky1";
}

.predmet1 {
    grid-area: predmet1;
    text-align: center;
    position: relative;
}

.zceho1 {
    grid-area: zceho1;
    text-align: center;
    position: relative;
    right: 70px;
}

.kdy1 {
    grid-area: kdy1;
    text-align: center;
    position: relative;
    right: 170px;
}

.ucit1 {
    grid-area: ucit1;
    text-align: center;
    position: relative;
    right: 120px;
}

.poznamky1 {
    grid-area: poznamky1;
    text-align: center;
    position: relative;
}

.vyplnovac2 {
    margin-top: 10px;
    background-color: #9CAEA9;
    width: 100%;
    height: 5px;
    grid-area: vyplnovac2;
}

.jazyky {
    text-align: center;
    grid-area: jazyky;
}

.anglictina {
    background-color: #CCDAD1;
    border-radius: 8px;
    grid-area: anglictina;
    margin: 8px;
    padding: 8px;
}

.nemcina {
    background-color: #CCDAD1;
    border-radius: 8px;
    grid-area: nemcina;
    margin: 8px;
    padding: 8px; 
}